import nextflow.util.SysHelper

/**
*   This methods namespace contains common functions for pipeline set up.
*/
methods {
    /**
    *   Detect and load base and node-specific resource allocations
    */
    set_resources_allocation = {
        def node_cpus = SysHelper.getAvailCpus()
        def node_memory_GB = SysHelper.getAvailMemory().toGiga()
        // Load base.config by default for all pipelines
        includeConfig "${projectDir}/config/base.config"
        def config_to_include = ""
        if (params.containsKey('ucla_cds') && params.ucla_cds) {
            if (node_cpus == 64) {
                // Check memory for M64 node
                if (node_memory_GB >= 950 && node_memory_GB <= 1010) {
                    config_to_include = "${projectDir}/config/M64.config"
                } else {
                    throw new Exception("     ### ERROR ###     System resources not as expected (cpus=${node_cpus} memory=${node_memory_GB}), unable to assign resources.")
                }
            } else {
                // Check memory for F series node
                if (node_memory_GB >= (node_cpus * 2 * 0.9 - 1) && node_memory_GB <= (node_cpus * 2)) {
                    config_to_include = "${projectDir}/config/F${node_cpus}.config"
                } else {
                    throw new Exception("     ### ERROR ###     System resources not as expected (cpus=${node_cpus} memory=${node_memory_GB}), unable to assign resources.")
                }
            }
            try {
                includeConfig config_to_include
            } catch(java.nio.file.NoSuchFileException file_not_found_exception) {
                System.out.println("     ### ERROR ###     The partition-specific config file: ${config_to_include} does not exist. The pipeline does not support the requested partition type.")
                throw file_not_found_exception
            }

        }
    }
}
