import groovy.json.JsonOutput

json_extractor {
    store_object_as_json = { Map object, File destination ->
        json_object = JsonOutput.prettyPrint(JsonOutput.toJson(object))
        File parent = destination.getParentFile()
        if (!parent.exists()) {
            parent.mkdirs()
            }
        destination.write(json_object)
      }
 }
