// Static process resource allocation here
// Specific for each node type - M64 here
process {
    withName: process_name {
        cpus = <allocated cpus>
        memory = <allocated memory>
        // Other process-specific allocations here
    }
    withName: process_name_2 {
        cpus = <allocated cpus>
        memory = <allocated memory>
        // Other process-specific allocations here
    }
    withName: process_name_3 {
        cpus = <allocated cpus>
        memory = <allocated memory>
        // Other process-specific allocations here
    }
    withName: example_process {
        cpus = 2
        memory = 5.GB
    }
}
