import groovy.json.JsonSlurper
import nextfloe.util.SysHelper

includeConfig "../schema/custom_schema_types.config"
includeConfig "../methods/common_methods.config"

class SystemResources {
    private Map resource_limits = [
        'cpus': [
            'type': int,
            'min': 1,
            'max': SysHelper.getAvailCpus()
        ],
        'memory': [
            'type': nextflow.util.MemoryUnit,
            'min': 1.MB,
            'max': SysHelper.getAvailMemory()
        ],
        'time': [
            'type': nextflow.util.Duration,
            'min': 1.s,
            'max': 1000.d
        ]
    ]
    private String resource_profile = null

    SystemResources(Map params) {
        this.resource_limits.each { resource, resource_info ->
            ['min', 'max'].each { limit_end ->
                try {
                    if (params.containsKey("${limit_end}_${resource}")) {
                        this.resource_limits[resource][limit_end] = (params["${limit_end}_${resource}"] as this.resource_limits[resource]['type'])
                    }
                } catch (all) {
                    // Do nothing, let default value defined above take effect
                }
            }
        }

        this.identify_resource_profile()
    }

    Object check_limits(Object obj, String type) {
        if (obj.compareTo(this.resource_limits[type]['max']) == 1) {
            return this.resource_limits[type]['max']
        } else if (obj.compareTo(this.resource_limits[type]['min']) == -1) {
            return this.resource_limits[type]['min']
        } else {
            return obj
        }
    }

    private void identify_resource_profile() {
         // Identify if available resources match F- or M-series nodes
         def cpus = this.resource_limits.cpus.max
         def memory = this.resource_limits.memory.max.toGiga()

         if (cpus >= (cpus * 2 * 0.9 - 1) && (cpus <= (cpus * 2))) {
             this.resource_profile = "f${cpus}"
         }

         if (cpus >= (cpus * 16 * 0.9 - 1) && (cpus <= (cpus * 16))) {
             this.resource_profile = "m${cpus}"
         }
    }

    String get_resource_profile_tag() {
        return this.resource_profile
    }
}

class PipelineAllocation {
    private SystemResources system_resources
    private File resource_json
    private String allocation_profile
    private Map processed_resources = [:]
    private Map raw_process_resources = [:]

    PipelineAllocation(Object resource_json, Object params) {
        this.system_resources = new SystemResources(params)
        this.resource_json = new File(resource_json)

        def json_slurper = new JsonSlurper()

        // TO-DO: Dump original for logging, keeping in class for now
        this.raw_process_resources = json_slurper.parse(this.resource_json)

        this.select_allocation_profile(params)

        assert this.raw_process_resources instanceof Map

        // TO-DO: Validate JSON is in expected format

        // Convert string memory units to memory unit
        this.processed_resources.each { process, allocations ->
            if (allocations.containsKey('memory')) {
                allocations.memory = allocations.memory as nextflow.util.MemoryUnit
            }
        }
    }

    private void load_resource_profile(String profile_tag) {
        try {
            this.processed_resources = this.raw_process_resources[profile_tag]
        } catch (all) {
            throw new Exception("   ### ERROR ###   Failed to find requested resource profile: `${profile_tag}`")
        }
    }

    private void select_allocation_profile(Map params) {
        String profile_tag = null

        // Try for user-given profile
        if (params.containsKey('resource_allocation_profile_tag') && params.resource_allocation_profile_tag) {
            profile_tag = params.resource_allocation_profile_tag
            this.load_resource_profile(profile_tag)
            return
        }

        // Try loading detected tag based on system resources
        profile_tag = this.system_resources.get_resource_profile_tag()

        if (profile_tag) {
            try {
                this.load_resource_profile(profile_tag)
            } catch (all) {
                // Continue to try loading `default` profile
            }
        }

        // Resort to loading `default` profile
        this.load_resource_profile('default')
    }

    // TO-DO: functionality to dump original loaded JSON to file for logging

    void update_base_allocation(String resource, String process, Object multiplier) {
        if (this.processed_resources.containsKey(process) && this.processed_resources[process].containsKey(resource)) {
            this.processed_resources[process][resource] = this.system_resources.check_limits(this.processed_resources[process][resource] * multiplier, resource)
        } else {
            System.out.println("   ### WARNING ### No base value found for resource `${resource}` for process `${process}`. Update will be skipped.")
        }
    }

    // Apply base resource updates
    void apply_base_updates(Map resource_updates) {
        resource_updates.each { resource, updates ->
            updates.each { processes, multiplier ->
                List processes_to_update = (processes instanceof String || processes instanceof GString) ? [processes] : processes

                if (processes_to_update == []) {
                    processes_to_update = this.raw_process_resources.keySet() as List
                }

                processes_to_update.each { process ->
                    this.update_base_allocation(resource, process, multiplier)
                }
            }
        }
    }

    // Check for retry definition and update entries


    void print_resources() {
        System.out.println(this.processed_resources)
    }
}

resource_handler {
    handle_resources = {Object resource_file, Map current_params=params ->
        def allocation_handler = new PipelineAllocation(resource_file, current_params)
        allocation_handler.print_resources()

        if (params.containsKey('base_resource_update') && params.base_resource_update) {
            allocation_handler.apply_base_updates(params.base_resource_update)
        }

        allocation_handler.print_resources()

        System.out.println('here?')
    }
}
