import java.util.zip.GZIPInputStream
InputStream fileStream = new FileInputStream('/hot/software/pipeline/pipeline-call-gSNP/Nextflow/development/input/data/formats/TCEB1_RCC_S00-9422N_079_114_0.1.bam');
InputStream gzipStream = new GZIPInputStream(fileStream);
Reader decoder = new InputStreamReader(gzipStream, 'UTF-8');
BufferedReader buffered = new BufferedReader(decoder);
buffered.skip(8)
def line = buffered.readLine()
/**
*   This bam_parser namespace is used to parse the header from a BAM file.
*   The information is loaded into a Map.
*/
bam_parser {

}
