import groovy.json.JsonOutput

json_extractor {
      store_params_json = {
               json_params = JsonOutput.prettyPrint(JsonOutput.toJson(params))
               File file = new File("${params.log_output_dir}/nextflow-log/params.json")
               File logdir = new File("${params.log_output_dir}/nextflow-log")
               logdir.mkdirs()
               file.write(json_params)
          }
 }
